
# IMPORTANT:
# This file lists the basic Python packages. The most critical libraries,
# PyTorch and ONNXRuntime, MUST be installed manually BEFORE you run
# 'pip install -r requirements.txt'.
# Please follow the detailed instructions in the README.md file.

gradio
opencv-python
Pillow
ffmpeg-python
face2face-lib>=1.0.1
numpy